<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Hospital Management System{% endblock %}</title>
</head>

<body>

    <header align = "center">
        <h1 align="center">Hospital Management System</h1>
                 {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}</p>


                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'patient' %}">
                Patients &emsp;
            </a>



            <a href="{% url 'doctor_list' %}">
                Doctor  &emsp;
            </a>
            <a href="{% url 'department_list' %}">
                Department  &emsp;
            </a>
            <a href="{% url 'appointment_list' %}">
                Appointments
            </a>
            {% endif %}
        </nav>
    </header>

    <hr>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <hr>

    <footer>
        <p>Hospital Management System</p>
    </footer>

</body>

</html>