<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Hospital Management System{% endblock %}</title>
</head>

<body>

    <header>
        <h1 align="center">Hospital Management System</h1>

        <nav>
            <a href="{% url 'patient' %}">
                Patients &emsp;
            </a>

            <a href="{% url 'doctor_list' %}">
                Doctor  &emsp;
            </a>
            <a href="{% url 'department_list' %}">
                Department
            </a>
        </nav>
    </header>

    <hr>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <hr>

    <footer>
        <p>Hospital Management System</p>
    </footer>

</body>

</html>