{% extends "base.html" %}

{% block title %}
Patients
{% endblock %}

{% block content %}

<h1>Patients</h1>

<a href="{% url 'patient_create' %}">
    <button>Create Patient</button>
</a>
<br>
<br>
<hr>

<table border="1">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Blood group</th>
        <th>Actions</th>
    </tr>

    {% for patient in patients %}

    <tr>

        <td>
            {{ patient.first_name }}
            {{ patient.last_name }}
        </td>

        <td>
            {{ patient.age }}
        </td>

        <td>
            {{ patient.phone }}
        </td>
        <td>
            {{patient.gender}}
        </td>
        <td>
            {{patient.dob}}
        </td>
        <td>
            {{patient.blood_type}}
        </td>
        <td>
            <a href="{% url 'patient_detail' patient.id %}">
                View
            </a>

            <a href="{% url 'patient_update' patient.id %}">
                Edit
            </a>

            <a href="{% url 'patient_delete' patient.id %}">
                Delete
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}